.fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030}

.sb-topnav {
  @extend .fixed-top ;
  z-index: $zindex-topnav;
}

.sb-nav-fixed {

  #layoutSidenav {
    #layoutSidenav_nav {
      @extend .fixed-top ;
      width: $sidenav-base-width;
      height: 100vh;
      z-index: $zindex-sidenav;

    }
    #layoutSidenav_content {
      padding-left: $sidenav-base-width;
      margin-top: $topnav-base-height;
    }
  }
}
.sb-sidenav {
  padding-top: $topnav-base-height;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  .sb-sidenav-menu {

  }
}
