.content-servidor ::ng-deep .p-grid {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td.error {
  color:red !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr .errorList {
  color:red !important;
}

/* tabla */
.tabla-principal{
  margin-top: 1rem;
}

/* paginacion */
::ng-deep .p-paginator-bottom{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
