


.login-page {
  overflow: auto;
  display: table;
  width: 100%;
  height: 100%;
  /* background: #020c13; */
  background: var(--login-primary-color);
  color: #fff;
  padding: 3em;
  position: relative;
}

@media (min-width: 992px) {
  .login-page:before {
    content: '';
    background-color: var(--login-secundary-color);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35%;
    /*border-right: solid 120px #0a141f;*/

  }
}



.card-login{
  max-width: 30rem;
  background-color: var(--login-secundary-color);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

img {
  vertical-align: middle;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.login-page .user-avatar {
  max-width: 230px;
  width: 100%;
  /*border: 3px solid #fff;*/
  margin-left: auto;
  margin-right: auto;
}

.img-circle {
  border-radius: 50%;
}


/*.pull-right {
  float: right!important;
}*/

.login-page .img-container, .login-page .form-content {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}

.login-page .img-container {
  text-align: right;
  width: 29%;
  position: relative;
}

.login-page h1 small {
  color: #fff;
  opacity: .7;
  padding-right: 5px;
  font-size: 18px;
  display: block;
  margin-top: 8px;
}

@media (max-width: 768px){
  .login-page .img-container
  {
    display: block;
    width: 100%;
  }
}


@media (min-width: 768px) {
  .lead {
    font-size: 21px
  }
}

.remember {
  margin-bottom: 1.5rem;
}

.links{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 1.5rem;
}

.button-container{
  text-align: center;
}

.p-inputtext{
  background-color: var(--login-input-background-color);
  color: var(--login-input-text-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: var(--login-input-background-color) !important;
  color: var(--login-input-text-color)!important;

}

#buttons-div{
  position: relative;
}

#submit-div{
  position: absolute;
  left: 16rem;
  top: 0.85rem;
  width: 10.64688rem;
}

#submit-div button{
  padding: 0.42rem, 1rem;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar{
  background-color: transparent !important;
  border: none;
  /* color: var(--login-input-text-color)!important; */
}

::ng-deep .p-fileupload .p-fileupload-buttonbar .ng-star-inserted button{
   width: 2rem;
}


::ng-deep .p-fileupload .p-fileupload-content{
  display: none;
}

::ng-deep .fileButton span.p-button{
  background-color: transparent;
  color: #607D8B;
  border: 1px solid;
}
::ng-deep .fileButton button.p-button{
  background-color: transparent;
  color: #607D8B;
  border: 1px solid;
}
::ng-deep .fileButton button.p-button:hover, ::ng-deep .fileButton span.p-button:hover {
  background: rgba(96, 125, 139, 0.04);
  color: #607D8B;
  border: 1px solid;
}


.pointer {cursor: pointer;}
