<div>

  <sb-layout-dashboard>
    <sb-dashboard-head title="Alertas" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <div class="content-alerta implementation">

      <!-- INICIA HEADER BUSCADORES Y BOTONES CRUD-->
      <div class="p-grid" style="margin-top: 0;">
        <div class="p-col-3" style="margin-left: 0;  ">
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} columnas seleccionadas" maxSelectedLabels="2"
            [style]="{minWidth: '200px', maxHeight: '37px' }" defaultLabel="Seleccionar columnas"></p-multiSelect>
        </div>

        <div class="p-col-3">
          <div class="p-inputgroup" style="max-height: 37px">
            <input class="p-inputtext-sm" type="text" pInputText (keyup.enter)="buscarDatos()" id="buscarElemento"
              placeholder="Buscar por clave, descripción..."
              pTooltip="No se aceptan caracteres especiales, verificar acentos" tooltipPosition="top">
            <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"
              (click)="buscarDatos()"></button>
          </div>
        </div>

        <div class="" style="margin-left: auto; margin-top: auto; margin-bottom: auto">
          <div class="ui-inputgroup" style="float: right;">
            <button pButton type="button" icon="pi pi-plus" class="p-button-sm pull-right" style="width: 110px"
              label="Añadir" (click)="callFormInsert();"></button> &nbsp;
            <button pButton type="button" icon="pi pi-check" class="p-button-sm p-button-success p-button-sm pull-right"
              [disabled]="updateButtonStatus" style="width: 110px" label="Guardar" (click)="toUpdate()"></button>
          </div>
        </div>
      </div>

      <!-- TERMINA HEADER BUSCADORES Y BOTONES CRUD-->

      <!-- INICIA TABLA CON CONTENIDO ACTUAL-->
      <div class="tabla-principal">
        <form [formGroup]="alertaForm">
          <p-message severity="error" text="El nombre es requerido"
            *ngIf="!alertaForm.controls['nombre'].valid&&alertaForm.controls['nombre'].dirty"></p-message>
          <p-table [columns]="selectedColumns" [(selection)]="selectedAlerta" selectionMode="multiple" dataKey="nombre"
            [metaKeySelection]="true" (onRowSelect)="makeButtonVisible($event)"
            (onHeaderCheckboxToggle)="makeButtonVisible($event)" [rows]="10" [paginator]="true" [value]="alertaList"
            [resizableColumns]="true" scrollHeight="500px" [paginatorPosition]="'bottom'"
            [rowsPerPageOptions]="[10,20,30,50,100]" styleClass="p-datatable-sm" [loading]="loading">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th style="width: 10em" *ngIf="userCanDelete == 1">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>&nbsp;
                  Acciones
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i"
              *ngIf="userCanEdit == 1 && userCanRead == 1 && mostrar">
                <td pEditableColumn *ngFor="let col of columns">
                  <p-cellEditor *ngIf="col.field == 'nombre'" #ifBlock
                    pTooltip="{{rowData[col.field].length < 3 ? 'El nombre debe ser de minimo 3 caracteres' : ''}}{{rowData.error ? 'Nombre repetido' : '' }}"
                    class="{{ rowData[col.field].length < 3 || rowData.error ? 'errorList': ''}}">
                    <ng-template pTemplate="input">
                      <input pInputText type="text" formControlName="nombre"
                        (keyup)="disableUpdateButton(rowData.nombre)" [(ngModel)]="rowData[col.field]"
                        (ngModelChange)="onBlurMethod(col.field, rowData.id, rowData[col.field],rowData); "
                        (focusout)="validaUpdateArray(2);">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>

                  <p-cellEditor pTooltip="{{rowData.estado === '' ? 'El estado es ogligatorio' : ''}}"
                    *ngIf="col.field == 'estado'" class="{{rowData.estado === '' ? 'errorList' : ''}}">
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="brands" formControlName="estado" [(ngModel)]="rowData.estado"
                        appendTo="body"
                        (onChange)="onBlurMethod('estado', rowData.id, rowData[col.field],rowData); validaUpdateArray(2);">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ rowData.estado === 1? "Activo":"Desactivado" }}
                    </ng-template>
                  </p-cellEditor>

                  <p-cellEditor pTooltip="{{ rowData.hora === '' ? 'Debe tener el formato de 24 hrs' : ''}}"
                    *ngIf="col.field == 'hora'" class="{{ rowData.hora === '' ? 'errorList': ''}}">
                    <ng-template pTemplate="input">
                      <input pInputText type="time" formControlName="hora" [(ngModel)]="rowData[col.field]"
                        (ngModelChange)="onBlurMethod(col.field, rowData.id, rowData[col.field],rowData) ; "
                        (focusout)=" validaUpdateArray(2);">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.hora}}
                    </ng-template>
                  </p-cellEditor>

                  <p-cellEditor pTooltip="{{rowData.correo === null ? 'El correo es obligatorio' : ''}}"
                    *ngIf="col.field == 'correos'" #ifBlock class="{{ rowData.correos === null ? 'errorList': ''}}">
                    <ng-template pTemplate="input">
                      <input pInputText type="email" formControlName="correos" [(ngModel)]="rowData[col.field]"
                        (ngModelChange)="onBlurMethod(col.field, rowData.id, rowData[col.field],rowData) ; "
                        (focusout)=" validaUpdateArray(2);">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.correos}}
                    </ng-template>
                  </p-cellEditor>

                </td>
                <td style="width: 10em;" *ngIf="userCanDelete == 1">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox> &nbsp;&nbsp;
                  <button pButton type="button" *ngIf="rowData.activo == 0 && userCanDelete == 1"
                    style="margin-left: 10px" icon="pi pi-times" class="p-button-danger p-button-sm"
                    (click)="deleteIndividualRow(rowData.nombre);"></button>
                </td>
              </tr>
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i" *ngIf="userCanEdit == 0 && userCanRead == 1">
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
                <td style="width: 10em;" *ngIf="userCanDelete == 1">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox> &nbsp;&nbsp;
                  <button pButton type="button" *ngIf="rowData.activo == 0 && userCanDelete == 1"
                    style="margin-left: 10px" icon="pi pi-times" class="p-button-danger p-button-sm"
                    (click)="deleteIndividualRow(rowData.nombre);"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr *ngIf="!mostrar">
                <td style="text-align: center" colspan="9">No hay datos disponibles</td>
              </tr>
            </ng-template>
          </p-table>
        </form>
      </div>

      <!-- TERMINA TABLA CON CONTENIDO ACTUAL-->

      <!-- INICIA MODAL PARA AGREGAR NUEVOS ROWS-->

      <div *ngIf="formulario">
        <p-dialog header="Agregar alertas" [(visible)]="display" [modal]="true" [responsive]="true"
          [style]="{width: '60%', minWidth: '200px'}" [minY]="200" [maximizable]="true" [baseZIndex]="1000"
          [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'auto','max-height': '80vh','min-height':'250px'}"
          [closable]="false">
          <br>
          <div align="right">
            <!---Este es el div de botones con el formato que se nos pidio --->
            <button style="margin-left: 5px" pButton [disabled]="cerrarInsertButtonStatus" type="button"
              icon="pi pi-times" class="p-button-sm p-button-danger" (click)="close();" label="Cerrar"></button>
            <button style="margin-left: 5px" pButton type="button" [disabled]="insertButtonStatus"
              icon="pi pi-check" class="p-button-success p-button-sm pull-right" (click)="store()"
              label="Guardar"></button>
            <button style="margin-left: 5px" pButton type="button" class="pull-right p-button-sm" icon="pi pi-plus"
              (click)="addRow()"></button>
          </div>
          <br>
          <div class="overflow-auto">
            <form [formGroup]="alertaInsertform" #myForm="ngForm">
              <p-message severity="error" text="{{msj}}" *ngIf="errorGral"></p-message>
              <p-message severity="error" text="La clave color/talla es requerido"
                *ngIf="!alertaInsertform.controls['nombre'].valid&&alertaInsertform.controls['nombre'].dirty">
              </p-message>
              <div class="overflow-auto">
                <p-table [columns]="colsInsert" [value]="insertAlerta" [metaKeySelection]="true" selectionMode="single"
                  [(selection)]="selectedAlerta" dataKey="id" [scrollable]="false" scrollHeight="500px"
                  [resizableColumns]="true" autoLayout="true" styleClass="p-datatable-sm">

                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns; let i = index">
                        {{col.header}}
                      </th>
                      <th style="width: 8em;">Acciones</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                    <tr [pSelectableRow]="rowData">

                      <td style="width: 40px;">
                        {{rowData.id}}
                      </td>

                      <td
                        pTooltip="{{rowData.nombre.length < 3 ? 'El nombre debe ser de minimo 3 caracteres' : ''}}{{validaNombre(rowData.nombre) ? msj : '' }}"
                        tooltipZIndex="10000000000" pEditableColumn
                        class="{{ rowData.nombre.length < 3 ||  validaNombre(rowData.nombre) ? 'error': ''}}">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.nombre"
                              [ngModelOptions]="{standalone: true}" (focusout)="validaInsertArray();">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData.nombre}}
                          </ng-template>
                        </p-cellEditor>
                      </td>

                      <td pTooltip="{{rowData.estado === '' ? 'El estado es ogligatorio' : ''}}"
                        tooltipZIndex="10000000000" pEditableColumn class="{{ rowData.estado === '' ? 'error': ''}}">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-dropdown [options]="brands" formControlName="estado" [(ngModel)]="rowData.estado"
                              appendTo="body" placeholder="Seleccionar" [baseZIndex]="10000" [style]="{'width':'100%'}">
                            </p-dropdown>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData.estado ===1? "Activo":rowData.estado ===1?"Desactivado":"" }}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td
                        pTooltip="{{rowData.hora === '' ? 'La hora es obligatoria' : ''}}"
                        tooltipZIndex="10000000000" pEditableColumn
                        class="{{ rowData.hora === '' ? 'error': ''}}">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="time" [(ngModel)]="rowData.hora"
                              [ngModelOptions]="{standalone: true}" (focusout)="validaInsertArray()">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData.hora}}
                          </ng-template>
                        </p-cellEditor>
                      </td>

                      <td pTooltip="{{rowData.correos === null ? 'El correo es obligatorio' : ''}}"
                        tooltipZIndex="10000000000" pEditableColumn class="{{ rowData.correos === null ? 'error': ''}}">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="email" [(ngModel)]="rowData.correos"
                              [ngModelOptions]="{standalone: true}" (ngModelChange)="validaInsertArray()">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData.correos}}
                          </ng-template>
                        </p-cellEditor>
                      </td>

                      <td style="width: 8em; text-align: center;">
                        <button pButton type="button" icon="pi pi-times" class="p-button-danger p-button-sm"
                          (click)="removeRow(rowData.id);"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </form>
          </div>
          <br>
        </p-dialog>

      </div>


      <!-- TERMINA MODAL PARA AGREGAR NUEVOS ROWS-->

    </div>
  </sb-layout-dashboard>
  <p-toast [baseZIndex]="300000" position="top-center" key="tc"></p-toast>
</div>
