<sb-layout-dashboard >
  <sb-dashboard-head title="Usuarios" [hideBreadcrumbs]="true"></sb-dashboard-head>
  <div style="max-height: 300px;  padding-top: 15px; margin-right: auto; margin-left: auto">
    <form *ngIf="varEdit" role="form" class="bottom-75" #f="ngForm" (ngSubmit)="nuevo(f)">
      <div class="p-formgroup-inline">
        <div class="p-field p-col p-fluid">
        <span class="p-float-label">
            <input id="nombre" type="text" class="p-inputtext-sm" pInputText
                   [(ngModel)]="newUsuario.nombre"
                    name="nombre"
                   required>
            <label for="nombre">Nombre</label>
        </span>
        </div>
        <div class="p-field p-col p-fluid">
        <span class="p-float-label">
            <input id="email" type="text" class="p-inputtext-sm" pInputText
                   [(ngModel)]="newUsuario.email"
                   name="email"
                   required
                   minlength="4"
                   pattern="[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*">
            <label for="email">Correo electrónico</label>
        </span>
          <small *ngIf="newUsuario.email!== undefined && !validateEmail(newUsuario.email)"  id="correo_error" class="p-invalid">Correo invalido</small>
          <small *ngIf="newUsuario.email!== undefined && !validUser"  id="correo_exist" class="p-invalid">Correo ya resgistrado</small>
        </div>
        <div class="p-field p-col p-fluid">
        <span *ngIf="!varEdit" style="display: none;" class="p-float-label">
            <input id="contraseña" type="password" class="p-inputtext-sm" pPassword  pInputText
                   promptLabel="Escribir contraseña"
                   weakLabel="Debil"
                   mediumLabel="Intermedia"
                   strongLabel="Fuerte"
                   [(ngModel)]="newUsuario.password"
                   name="password"
                   required
                   minlength="8">
            <label for="contraseña">Contraseña</label>
        </span>
          <small *ngIf="newUsuario.password!== undefined && newUsuario.password.length<8" id="pass_error" class="p-invalid">Mínimo 8 caracteres</small>
        </div>
        <div class="p-field p-col" style="text-align: center">
            <button style="margin-right: 5px" pButton type="submit" label="Guardar"  class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right"></button>

            <button pButton type="button" label="Cancelar"  class=" p-button-sm p-button-rounded p-button-warning" icon="pi pi-times" iconPos="right" (click)="onReject()"></button>
        </div>
      </div>
    </form>

  </div>
  <div>
    <p-table #dt [value]="usuarios" dataKey="id" sortMode="multiple" [columns]="cols" 
             [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
             [loading]="loading" styleClass="p-datatable-customers p-datatable-sm"
             [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
             [filterDelay]="0" [globalFilterFields]="['nombre','correo','tipo']">
      <ng-template pTemplate="caption">
        <div class="table-header">
          Lista de usuarios
          <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Busqueda Global" />
      </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
            {{col.header}}
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
          </th>
          <th style="width: 8em">
            Acciones
          </th>
        </tr>
        <tr>
          <th>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'nombre', 'contains')" placeholder="Buscar por nombre" class="p-column-filter">
          </th>
          <th>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')" placeholder="Buscar por correo" class="p-column-filter">
          </th>
          <th>
            <p-dropdown [options]="tipos" (onChange)="dt.filter($event.value, 'tipo', 'equals')" styleClass="p-column-filter" placeholder="Selecionar tipo" [showClear]="true">
              <ng-template let-option pTemplate="item">
                <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
              </ng-template>
            </p-dropdown>
          </th>
          <th>
            <p-multiSelect [options]="statuses" placeholder="Todos" (onChange)="onStatusChange($event)" styleClass="p-column-filter" optionLabel="name">
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{option.label}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </th>
          <th style="width: 8em"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ col.field === 'status'? (rowData[col.field] === 1 ? 'Activo':'Pendiente') : col.field === 'tipo'? (rowData[col.field] === 1 ? 'Admin':'Estandar'):rowData[col.field] }}
          </td>
          <td style="width: 8em">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" (click)="editar(rowData)" ></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="borrar(rowData)" ></button>
          </td>
        </tr>

      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No se encontraron resultados.</td>
        </tr>
      </ng-template>
    </p-table>



  </div>
  <app-loading *ngIf="cargando"></app-loading>
  <p-toast position="bottom-center" key="tc"></p-toast>
  <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
        <div class="p-text-center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
          <h4>{{message.summary}}</h4>
          <p>{{message.detail}}</p>
        </div>
        <div class="p-grid p-fluid">
          <div class="p-col-6">
            <button type="button" pButton (click)="onConfirm()" label="Si" class="p-button-success"></button>
          </div>
          <div class="p-col-6">
            <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toast>
</sb-layout-dashboard>
