// Add styling for icons used within nav links
.nav,
.sb-sidenav-menu {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}
