<sb-layout-dashboard>
  <sb-dashboard-head title="Ambientes Liber" [hideBreadcrumbs]="true"></sb-dashboard-head>
  <div class="liber-ambientes">
    <div style="max-height: 300px;  padding-top: 15px; margin-right: auto; margin-left: auto" *ngIf='errorGral'>
      <p>No hay servidores para este ambiente</p>
    </div>
    <div style="padding-top: 15px; margin-right: auto; margin-left: auto" *ngIf='!errorGral'>
      <form role="form" class="bottom-75" #f="ngForm" (ngSubmit)="nuevo(f,1)">
        <div class="p-formgroup-inline">
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <p-dropdown [disabled]="bloqueo" id="server" name="server" required [options]="servers"
                placeholder="&nbsp;" optionLabel="name"
                (onChange)="acuatizaCliente($event.value.nombre); log_ambiente.server_apli_id = $event.value.id">
              </p-dropdown>
              <label for="server">Selec. servidor</label>
            </span>
            <small *ngIf="ambiente.server_name!== undefined && this.ambiente.server_name===null" id="server_error"
              class="p-invalid">Debe elegir un servidor</small>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="true" id="cliente" type="number" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.cliente" name="cliente" required>
              <label for="cliente">Cliente</label>
            </span>
            <small *ngIf="ambiente.cliente!== undefined && this.ambiente.cliente.length<=0" id="cliente_error"
              class="p-invalid">Debe colocar un nuevo cliente</small>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="usuario_email" type="email" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.usuario_email" name="usuario_email"
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*" required>
              <label for="usuario_email">Email usuario</label>
            </span>
            <small *ngIf="ambiente.usuario_email!== undefined && !validateEmail(ambiente.usuario_email)"
              id="correo_error" class="p-invalid">Correo invalido</small>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input id="usuario" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.usuario"
                name="usuario" required>
              <label for="usuario">Usuario</label>
            </span>
            <small *ngIf="ambiente.usuario!== undefined && this.ambiente.usuario.length<6" id="usuario_error"
              class="p-invalid">Minumo 8 caracteres</small>
          </div>
        </div>

        <div class="p-formgroup-inline">
          <div class="p-field p-col p-fluid">
            <div style="display: flex; flex-wrap: wrap; align-items: flex-start;">
              <div style="width: 80%">
                <span class="p-float-label">
                  <input [disabled]="bloqueo" id="contraseña" type="password" class="p-inputtext-sm" pPassword
                    pInputText promptLabel="Escribir contraseña" weakLabel="Debil" mediumLabel="Intermedia"
                    strongLabel="Fuerte" [(ngModel)]="ambiente.password" name="password" required showPassword="true"
                    minlength="8" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                  <label for="contraseña">Contraseña</label>
                </span>
              </div>
              <div style="width: 20%;" pTooltip="Generar contraseña">
                <button
                  style="    border-bottom-left-radius: 0;    border-top-left-radius: 0; width: 100%; margin-right: 5px"
                  pButton type="button" class=" btn-password p-button-sm p-button-success" icon="pi pi-key"
                  iconPos="right" (click)="generarPass()"></button>
              </div>
            </div>
            <small *ngIf="ambiente.password!== undefined && ambiente.password.length<8" id="pass_error"
              class="p-invalid">Minumo 8 caracteres</small>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="codigoEmpresa" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.codigoEmpresa" name="codigoEmpresa" required>
              <label for="codigoEmpresa">RFC Empresa</label>
            </span>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="descEmpresa" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.descEmpresa" name="descEmpresa" (focusout)='validarEmpresa()' required>
              <label for="descEmpresa">Razon Social</label>
            </span>
            <small *ngIf="empresaError" id="descEmpresa_error" class="p-invalid">{{detalles}}</small>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="email_contacto" type="email_contacto" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.email_contacto" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*"
                name="email_contacto" required>
              <label for="email_contacto">Email</label>
            </span>
            <small *ngIf="ambiente.email_contacto!== undefined && !validateEmail(ambiente.email_contacto)"
              id="correo_error_empresa" class="p-invalid">Correo invalido</small>
          </div>
        </div>
        <div class="p-formgroup-inline">
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="calle" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.calle" name="calle" required>
              <label for="calle">Calle</label>
            </span>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="cp" type="number" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.cp" name="cp" required>
              <label for="cp">Codigo Postal</label>
            </span>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="codigoSucursal" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.codigoSucursal" name="codigoSucursal" required>
              <label for="codigoSucursal">Codigo Sucursal</label>
            </span>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="descSucursal" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.descSucursal" name="descSucursal" required>
              <label for="descSucursal">Descripcion Sucursal</label>
            </span>
          </div>
        </div>

        <div class="p-formgroup-inline">
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]='bloqueo' id="contacto" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.contacto" name="contacto" required>
              <label for="contacto">Nombre de contacto</label>
            </span>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="codigoTerminal" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.codigoTerminal" name="codigoTerminal" required>
              <label for="codigoTerminal">Clave Terminal</label>
            </span>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="descTerminal" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.descTerminal" name="descTerminal" required>
              <label for="descTerminal">N&uacute;mero de serie</label>
            </span>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="ipTerminal" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.ipTerminal" name="ipTerminal" required>
              <label for="ipTerminal">Dir. IP terminal</label>
            </span>
          </div>

        </div>
        <div class="p-formgroup-inline" style="width: 75%;">
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="mac" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.mac" name="mac" required>
              <label for="mac">Dir. MAC Terminal</label>
            </span>
          </div>
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <input [disabled]="bloqueo" id="modelo" type="text" class="p-inputtext-sm" pInputText
                [(ngModel)]="ambiente.modelo" name="modelo" required>
              <label for="modelo">Modelo de la Terminal</label>
            </span>
          </div>
          <div class="p-field p-col p-fluid">
            <!-- <span class="p-float-label" [hidden]="!correo">
              <input id="correo" type="text" class="p-inputtext-sm" pInputText
               name="email" #email (keyup)="agregarCorreo(email.value)">
              <label for="email">Email notificaci&oacute;n</label>
            </span>
            <div id='correos'>
              <div *ngFor="let correoE of correos" style="padding-top: .4rem;">
                <button pButton type="button" class="p-button-sm p-button-rounded p-button-success" 
                 #correo label="{{correoE}}" (click)="quitarEtiqueta(correo.value)" value="{{correoE}}"></button>
              </div>
            </div> -->
          </div>
        </div>
        <div class="p-formgroup-inline">
          <div class="p-field p-col p-fluid" *ngIf="correo">
            <span class="p-float-label">
              <p-chips [(ngModel)]="correos" name="email" inputStyleClass="p-inputtext-sm" [allowDuplicate]="false"
              separator="," addOnBlur="true" (onAdd)="agregarCorreo()" (onRemove)="listaCorreos()" ></p-chips>
              <label for="email">Email de Notificaci&oacute;n</label>
            </span>
            <p [hidden]="!correo" style="font-size: .6rem;">Colocar un ";" al final de cada correo</p>
          </div>
        </div>
        <div class="p-formgroup-inline">
          <div class="p-field p-col" style="text-align: center">
            <button *ngIf="!verificado && !completado" style="margin-right: 5px" pButton type="submit"
              label="Validar datos" class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check"
              iconPos="right"></button>

            <button *ngIf="verificado && !base1 && !completado" style="margin-right: 5px" pButton type="button"
              label="{{error ? 'Reintentar' : 'Generar Base 1'}}" class=" p-button-sm p-button-rounded p-button-success"
              [disabled]="bloqueo" icon="pi pi-check" iconPos="right" (click)="nuevo(f,2)"></button>

            <button *ngIf="verificado && base1 && !base2 && !completado" style="margin-right: 5px" pButton type="button"
              label="{{error ? 'Reintentar' : 'Obtener Base 2'}}" class=" p-button-sm p-button-rounded p-button-success"
              [disable]='!base1' icon="pi pi-check" iconPos="right" (click)="nuevo(f,3)"></button>

            <button *ngIf="verificado && base1 && base2 && !completado" style="margin-right: 5px" pButton type="button"
              label="{{error ? 'Reintentar' : 'Generar Base 2'}}" class=" p-button-sm p-button-rounded p-button-success"
              [disabled]="bloqueo" icon="pi pi-check" iconPos="right" (click)="nuevo(f,4)"></button>

            <button *ngIf="!verificado && completado" style="margin-right: 5px" pButton type="button"
              label="Validar tareas adicionales" class=" p-button-sm p-button-rounded p-button-success"
              icon="pi pi-check" iconPos="right" (click)="nuevo(f,5)"></button>

            <button *ngIf="verificado && completado && !correo" style="margin-right: 5px" pButton type="button"
              label="{{error ? 'Reintentar' : 'Completar ambiente'}}" [disabled]=bloqueo
              class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right"
              (click)="nuevo(f,6)"></button>

            <button *ngIf="verificado && completado && correo && !enviado" style="margin-right: 5px" pButton
              type="button" label="Realizar Ultimos Pasos" class=" p-button-sm p-button-rounded p-button-success"
              [disabled]="bloqueo" icon="pi pi-check" iconPos="right" (click)="nuevo(f,7)"></button>

            <button *ngIf="enviado" style="margin-right: 5px" pButton type="button" label="Limpiar"
              class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-times" iconPos="right"
              (click)="reiniciarValores()"></button>
          </div>
        </div>
      </form>
    </div>

    <div class="errores">
      <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
      <button pButton *ngIf="detalles !== undefined && msgs1.length>0" (click)="detallesMsg()"
        label="Mostrar Detalle"></button>
      <p-messages [(value)]="detail" [enableService]="false"></p-messages>
    </div>

    <div *ngIf="progressPorcent!==0" style="margin-bottom: 25px; margin-top: 25px;">
      <div class="{{error? 'error_bar' : ''}}" style="width: 50%; margin-left: auto; margin-right: auto;">
        <p-progressBar [value]="progressPorcent"></p-progressBar>
      </div>
    </div>

    <div class='tablas' style="margin-bottom: 10px" *ngIf="verificado && !completado || !verificado && completado">
      <div class="scrollH">

        <p-table *ngIf="tables.length>0" [value]="tables" styleClass="p-datatable-sm" [style]='{width: "15rem"}'>
          <ng-template class="header-table" pTemplate="header">
            <tr>
              <th class="table-header">Tablas</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr [style]='{height: "1.3875rem"}'>
              <td pTooltip="{{product.error}}"
                class="{{product.ejecutado === 1 ? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                {{product.Tables_name | slice: 0 :25}}</td>
            </tr>
          </ng-template>
        </p-table>


        <p-table *ngIf="funciones.length>0" [value]="funciones" styleClass="p-datatable-sm" [style]='{width: "15rem"}'>
          <ng-template pTemplate="header">
            <tr>
              <th class="table-header">Funciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr [style]='{height: "1.3875rem"}'>
              <td pTooltip="{{product.error}}"
                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                {{product.Name | slice: 0 :25}}</td>
            </tr>
          </ng-template>
        </p-table>


        <p-table *ngIf="events.length>0" [value]="events" styleClass="p-datatable-sm" [style]='{width: "15rem"}'>
          <ng-template pTemplate="header">
            <tr>
              <th class="table-header">Eventos</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr [style]='{height: "1.3875rem"}'>
              <td pTooltip="{{product.error}}"
                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                {{product.Name | slice: 0 :25}}</td>
            </tr>
          </ng-template>
        </p-table>


        <p-table *ngIf="sp.length>0" [value]="sp" styleClass="p-datatable-sm" [style]='{width: "15rem"}'>
          <ng-template pTemplate="header">
            <tr>
              <th class="table-header">Store Procedures</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr [style]='{height: "1.3875rem"}'>
              <td pTooltip="{{product.error}}"
                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                {{product.Name | slice: 0 :25}}</td>
            </tr>
          </ng-template>
        </p-table>


        <p-table *ngIf="triggers.length>0" [value]="triggers" styleClass="p-datatable-sm" [style]='{width: "15rem"}'>
          <ng-template pTemplate="header">
            <tr>
              <th class="table-header">Triggers</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr [style]='{height: "1.3875rem"}'>
              <td pTooltip="{{product.error}}"
                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                {{product.Trigger | slice: 0 :25}}</td>
            </tr>
          </ng-template>
        </p-table>

        <p-table *ngIf="views.length>0" [value]="views" styleClass="p-datatable-sm" [style]='{width: "15rem"}'>
          <ng-template pTemplate="header">
            <tr>
              <th class="table-header">Views</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr [style]='{height: "1.3875rem"}'>
              <td pTooltip="{{product.error}}"
                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                {{product.Tables_name | slice: 0 :25}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="tablas" style="margin-bottom: 10px" class="d-flex flex-row" *ngIf="verificado && completado">

      <div style="width: 30%">
        <p-table [value]="tareas" styleClass="p-datatable-sm">
          <ng-template class="header-table" pTemplate="header">
            <tr>
              <th class="table-header">Tareas adicionales</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr [style]='{height: "1.3875rem"}'>
              <td pTooltip="{{product.error}}"
                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                {{product.nombre}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div style="width: 30%; margin-left: 1rem;" *ngIf='verificado && completado && correo'>
        <p-table [value]="extras" styleClass="p-datatable-sm">
          <ng-template class="header-table" pTemplate="header">
            <tr>
              <th class="table-header">Ultimos pasos</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr [style]='{height: "1.3875rem"}'>
              <td pTooltip="{{product.error}}"
                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                {{product.Name}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>

  </div>
  <app-loading *ngIf="cargando"></app-loading>

</sb-layout-dashboard>