<sb-layout-dashboard>
  <h2>Generador de ambientes: Girha, control de asistencias e incidencias</h2>
  <div class="liber-ambientes">
    <div *ngIf='!mostrar'>
      <p>No hay Servidores activos para el producto Girha</p>
    </div>
    <div style="padding-top: 15px; margin-right: auto; margin-left: auto" *ngIf='mostrar'>
      <form role="form" class="bottom-75" #f="ngForm" (ngSubmit)="nuevo(f,1)">
        <div class="p-formgroup-inline">
          <!--  Selección de Servidores   -->
          <div class="p-field p-col p-fluid">
            <h4>Selección de Servidores</h4><br>
            <div class="p-formgroup-inline">
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <p-dropdown [disabled]="bloqueo" id="server" name="server" required [options]="serversApli"
                    placeholder='&nbsp;' optionLabel="name"
                    (onChange)="acuatizaCliente($event.value.nombre); log_ambiente.server_apli_id = $event.value.id">
                  </p-dropdown>
                  <label for="server">Seleccione servidor Girha</label>
                </span>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <p-dropdown [disabled]="bloqueo" id="server" name="server" required [options]="serversEngine"
                    placeholder='&nbsp;' optionLabel="name"
                    (onChange)='ambiente.server_2 = $event.value.name; log_ambiente.server_engine_id = $event.value.id'>
                  </p-dropdown>
                  <label for="server">Seleccione servidor lectores</label>
                </span>
              </div>
            </div>
          </div>

          <!--  Requerimientos del nuevo cliente   -->
          <div class="p-field p-col p-fluid">
            <h4>Requerimientos del nuevo cliente</h4><br>
            <div class="p-formgroup-inline">
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)' id="empleadosActivos" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.empleadosActivos" name="empleadosActivos">
                  <label for="empleadosActivos">Empleados activos promedio</label>
                </span>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)' id="lectoresLinea" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.lectoresLinea" name="lectoresLinea">
                  <label for="lectoresLinea">Lectores en línea promedio</label>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="p-formgroup-inline" *ngIf="verificarCliente">
          <div class="p-field p-col p-fluid">
            <!--  Datos de alta del cliente   -->
            <h4>Datos de alta del cliente</h4><br>
            <div class="p-formgroup-inline">
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)'
                    id="empresaRFC" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.rfc"
                    name="empresaRFC" required (focusout)='validarEmpresa()'>
                  <label for="empresaRFC">RFC</label>
                </span>
                <small *ngIf="ambiente.rfc !== undefined && this.ambiente.rfc === ''" id="tempresaRFC_error"
                  class="p-invalid">Debe ingresar su RFC</small>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)'
                    id="descEmpresa" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.descEmpresa"
                    name="descEmpresa" required (focusout)='validarEmpresa()'>
                  <label for="descEmpresa">Nombre o Razón social</label>
                </span>
                <small *ngIf="ambiente.descEmpresa !== undefined && this.ambiente.descEmpresa === ''" id="descEmpresa_error"
                  class="p-invalid">Debe ingresar su Nombre o Razón social</small>
              </div>
              <div class="p-field p-col p-fluid" style="display: none;">
                <span class="p-float-label">
                  <input [disabled]='true'
                    id="clave" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.descripcion"
                    name="clave" required (focusout)='validarEmpresa()'>
                  <label for="clave" value="001"></label>
                </span>
              </div>
              <div class="p-field p-col p-fluid" style="display: none;">
                <span class="p-float-label">
                  <input [disabled]='true'
                    id="descripcion" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.clave"
                    name="descripcion" required (focusout)='validarEmpresa()'>
                  <label for="descripcion" value="todos"></label>
                </span>
              </div>
            </div>
            <div class="p-field p-col p-fluid">
              <span class="p-float-label">
                <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)' id="direccion" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.dirEmpresa" name="direccion" required>
                <label for="direccion">Domicilio completo: (calle, número, colonia, delegación o municipio, estado)</label>
              </span>
            </div>
          </div>
        </div>

        <div class="p-formgroup-inline" *ngIf="verificarCliente">
          <div class="p-field p-col p-fluid">
            <!--  Contactos del cliente   -->
            <h4>Contactos del cliente</h4><br>
            <div class="p-formgroup-inline">
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <p-dropdown [disabled]="bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)" id="tipoContacto1" name="tipoContacto1" required [options]="tipoContac" placeholder='&nbsp;' optionLabel="name" [(ngModel)]="ambiente.tipoContacto1">
                  </p-dropdown>
                  <label for="tipoContacto1">Tipo de contacto</label>
                </span>
                <small *ngIf="ambiente.server_name!== undefined && this.ambiente.server_name===null" id="tipoContacto1_error"
                  class="p-invalid">Debe elegir el tipo de contacto</small>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)' id="contacto1" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.contacto1" name="contacto1" required>
                  <label for="contacto1">Nombre de contacto</label>
                </span>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)'
                    id="email_contacto1" type="email" class="p-inputtext-sm" pInputText #email_contacto1='ngModel'
                    [(ngModel)]="ambiente.email_contacto1" name="email_contacto1" required
                    pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*." (onAdd)="validateEmail(ambiente.email_contacto1)" (focusout)='agregarCorreo()'>
                  <label for="email_contacto1">Email de Contacto</label>
                </span>
                <div *ngIf="email_contacto1.invalid && (email_contacto1.dirty || email_contacto1.touched)" id="correo_error"
                  class="p-invalid">
                  <small *ngIf="ambiente.email_contacto1 !== undefined">Ingrese
                    un email</small>
                  <small *ngIf="email_contacto1.errors.patten">Ingrese un email valido</small>
                </div>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)' id="telefono1" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.telefono1" name="telefono1" required maxlength="10" minlength="10">
                  <label for="telefono1">Teléfono</label>
                </span>
                <small *ngIf="this.ambiente.telefono1 !== undefined && this.ambiente.telefono1?.length < 10" id="telefono1_error" class="p-invalid">Debe ingresar un número de teléfono valido</small>
              </div>
            </div>
            <!--  Contacto  -->
            <div class="p-formgroup-inline">
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <p-dropdown [disabled]="bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)" id="tipoContacto2" name="tipoContacto2"  [options]="tipoContac" placeholder='&nbsp;' optionLabel="name" [(ngModel)]="ambiente.tipoContacto2">
                  </p-dropdown>
                  <label for="tipoContacto2">Tipo de contacto</label>
                </span>
                <small *ngIf="ambiente.server_name!== undefined && this.ambiente.server_name===null" id="tipoContacto2_error"
                  class="p-invalid">Debe elegir el tipo de contacto</small>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)' id="contacto2" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.contacto2" name="contacto2">
                  <label for="contacto2">Nombre de contacto</label>
                </span>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)'
                    id="email_contacto2" type="email" class="p-inputtext-sm" pInputText #email_contacto2='ngModel'
                    [(ngModel)]="ambiente.email_contacto2" name="email_contacto2"
                    pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*">
                  <label for="email_contacto2">Email de Contacto</label>
                </span>
                <div *ngIf="email_contacto2.invalid && (email_contacto2.dirty || email_contacto2.touched)" id="correo_error"
                  class="p-invalid">
                  <small *ngIf="ambiente.email_contacto2 !== undefined">Ingrese
                    un email</small>
                  <small *ngIf="email_contacto2.errors.patten">Ingrese un email valido</small>
                </div>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)' id="telefono2" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.telefono2" name="telefono2" maxlength="10" minlength="10">
                  <label for="telefono2">Teléfono</label>
                </span>
                <small *ngIf="ambiente.telefono2!== undefined && this.ambiente.telefono2.length !== 10" id="telefono2_error" class="p-invalid">Debe ingresar un número de teléfono valido</small>
              </div>
            </div>
            <!--  Contacto  -->
            <div class="p-formgroup-inline">
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <p-dropdown [disabled]="bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)" id="tipoContacto3" name="tipoContacto3" [options]="tipoContac" placeholder='&nbsp;' optionLabel="name" [(ngModel)]="ambiente.tipoContacto3">
                  </p-dropdown>
                  <label for="tipoContacto3">Tipo de contacto</label>
                </span>
                <small *ngIf="ambiente.server_name!== undefined && this.ambiente.server_name===null" id="tipoContacto3_error"
                  class="p-invalid">Debe elegir el tipo de contacto</small>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)' id="contacto3" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.contacto3" name="contacto3">
                  <label for="contacto3">Nombre de contacto</label>
                </span>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)'
                    id="email_contacto3" type="email" class="p-inputtext-sm" pInputText #email_contacto3='ngModel'
                    [(ngModel)]="ambiente.email_contacto3" name="email_contacto3"
                    pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*">
                  <label for="email_contacto3">Email de Contacto</label>
                </span>
                <div *ngIf="email_contacto3.invalid && (email_contacto3.dirty || email_contacto3.touched)" id="correo_error"
                  class="p-invalid">
                  <small *ngIf="ambiente.email_contacto3 !== undefined">Ingrese un email</small>
                  <small *ngIf="email_contacto3.errors.patten">Ingrese un email valido</small>
                </div>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='bloqueo || (ambiente.server_name == undefined || ambiente.server_2 == undefined)' id="telefono3" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.telefono3" name="telefono3" maxlength="10" minlength="10">
                  <label for="telefono3">Teléfono</label>
                </span>
                <small *ngIf="ambiente.telefono3!== undefined && this.ambiente.telefono1.length !== 10" id="telefono3_error" class="p-invalid">Debe ingresar un número de teléfono valido</small>
              </div>
            </div>
          </div>
        </div>

        <div class="p-formgroup-inline" *ngIf="verificar">
          <div class="p-field p-col p-fluid">
            <!--  Generación de ambiente y usuario administrador   -->
            <h4>Generación de ambiente y usuario administrador</h4><br>
            <div class="p-formgroup-inline">
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]="true" id="cliente" type="number" class="p-inputtext-sm" pInputText
                    [(ngModel)]="ambiente.cliente" name="cliente">
                  <label for="cliente">Cliente</label>
                </span>
                <small *ngIf="ambiente.cliente!== undefined && this.ambiente.cliente.length<=0" id="cliente_error"
                  class="p-invalid">Debe colocar un nuevo cliente</small>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='true' id="usuario" type="text" class="p-inputtext-sm" pInputText [(ngModel)]="ambiente.usuario" name="usuario">
                  <label for="usuario">Usuario</label>
                </span>
              </div>
              <div class="p-field p-col p-fluid">
                <span class="p-float-label">
                  <input [disabled]='true'
                    id="contraseña" type="password" class="p-inputtext-sm" pPassword pInputText
                    promptLabel="Escribir contraseña" weakLabel="Debil" mediumLabel="Intermedia" strongLabel="Fuerte"
                    [(ngModel)]="ambiente.password" name="password" showPassword="true" minlength="8"
                    style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                  <label for="contraseña">Contrase&ntilde;a</label>
                </span>
                <small *ngIf="ambiente.password!== undefined && ambiente.password.length<8" id="pass_error"
                  class="p-invalid">Mínimo 8 caracteres</small>
              </div>
            </div>
          </div>
        </div>

        <div class="p-formgroup-inline">
          <div class="p-field p-col p-fluid" *ngIf="correo">
            <span class="p-float-label">
              <p-chips [(ngModel)]="correos" name="email" inputStyleClass="p-inputtext-sm" [allowDuplicate]="false"
              separator="," addOnBlur="true" (onAdd)="agregarCorreo()" (onRemove)="listaCorreos()">
              </p-chips>
              <label for="email">Email de Notificaci&oacute;n</label>
            </span>
            <p style="font-size: .7rem;">El correo de notificación se enviara a {{ambiente.email_contacto1}}, si desea agregar mas correos favor de utilizar este campo.</p>
          </div>
        </div>
        <div class="p-formgroup-inline">
          <div class="p-field p-col" style="text-align: center">
            <button *ngIf="!verificado && !completado && !verificarCliente" style="margin-right: 5px" pButton type="button" label="Validar servidores" class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right" (click)="validaLectores()"></button>
            <button *ngIf="!verificado && !completado && verificarCliente && !verificar" style="margin-right: 5px" pButton type="button" label="Generar usuario y contraseña" class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right" (click)="generarUser(ambiente.rfc)"></button>
            <button *ngIf="!verificado && !completado && verificar" style="margin-right: 5px" pButton type="submit"
              label="Generar Ambiente" class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check"
              iconPos="right"></button>
            <button *ngIf="verificado && !completado && error" style="margin-right: 5px" pButton type="button"
              label="Reintentar" [disabled]="bloqueo"
              class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right"
              (click)="nuevo(f,2)"></button>
            <button *ngIf="verificado && completado && !correo && error" style="margin-right: 5px" pButton type="button"
              label="Reintentar" [disabled]="bloqueo"
              class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right"
              (click)="nuevo(f,3)"></button>
            <button *ngIf="verificado && completado && correo && !enviado" style="margin-right: 5px" pButton
              type="button" label="{{error ? 'Reintentar' : 'Realizar Ultimos Pasos'}}" [disabled]="bloqueo" class=" p-button-sm p-button-rounded p-button-success"
              icon="pi pi-check" iconPos="right" (click)="nuevo(f,4)"></button>
          </div>
        </div>
      </form>
    </div>

    <div class="errores">
      <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
      <button pButton *ngIf="detalles !== undefined && msgs1.length>0" (click)="detallesMsg()"
        label="Mostrar Detalle"></button>
      <p-messages [(value)]="detail" [enableService]="false"></p-messages>
    </div>

    <div *ngIf="progressPorcent!==0" style="margin-bottom: 25px; margin-top: 25px;">
      <div class="{{error? 'error_bar' : ''}}" style="width: 50%; margin-left: auto; margin-right: auto;">
        <p-progressBar [value]="progressPorcent"></p-progressBar>
      </div>
    </div>
  </div>
  <app-loading *ngIf="cargando"></app-loading>

</sb-layout-dashboard>