<div>
    <sb-layout-dashboard>
        <sb-dashboard-head title="Lectores" [hideBreadcrumbs]="true"></sb-dashboard-head>
      <div class="p-fluid p-grid " style="margin-top: 0;">
        <div class="p-field p-col-12 p-md-2">
            <div class="p-field">
                <span class="p-float-label">
                    <input id="search" type="text" pInputText class="p-inputtext-sm" [(ngModel)]="buscar"
                        (focus)="activo=true; scrollAlto();" (focusout)="activo=false; scrollRepetir();"
                        (keyup)="buscarDatos(false)">
                    <label for="search">Buscar:</label>
                </span>
            </div>
        </div>

        <div class="p-field p-col-12 p-md-2" >
          <div class="p-field">
            <span class="p-float-label">
            <p-multiSelect [options]="estatusFilter" [(ngModel)]="estatusSelected"
                           (onPanelShow) = "activo=true; scrollAlto();"
                           (onPanelHide) = "activo=false; scrollRepetir();"
                           selectedItemsLabel="{0} seleccionados" maxSelectedLabels="2"
                           [style]="{ maxHeight: '37px' }" defaultLabel="Seleccione Estatus" optionLabel="name"
                            (onChange)="buscarDatos()">
            </p-multiSelect>
            </span>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-2">
          <div class="p-field">
            <span class="p-float-label">
              <button type="button" class="btn btn-primary" (click)="generaExcel(clientesGmostrar, clientesMAmostrar, clientesCCmostrar, clientesZKmostrar)">Exportar información</button>
            </span>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-2" style="margin-left: -40px;">
            <div class="p-field">
              <span class="p-float-label">
                <button type="button" class="btn btn-primary" (click)="actualizaInfoLectores()">Actualizar información</button>
              </span>
            </div>
        </div>

        <div class="p-field p-col-12 p-md-4" >
          <div class="p-field" style="margin-bottom: auto; margin-top: auto">
            <span class="p-float-label">
            Última actualización: {{ultimaActualizacion}}
            </span>
          </div>
        </div>
      </div>

        <div class="lista">
            <div class="producto" *ngIf="clientesGmostrar.length > 0">
                <h5>Girha</h5>
                <div class="clientes row">
                    <div *ngFor="let cliente of clientesGmostrar; let indice = index"
                        class="{{cliente.lectores.length<2 ? 'col-sm-2': cliente.lectores.length<3 ? 'cliente-dos': 'col-md-auto'}} {{cliente.lectores.length == 0 ? 'block-tar' : ''}}">
                        <div class="cliente" *ngIf="cliente.lectores.length > 0">
                            <div class="nombre_cliente" class="bitacoraGeneral" (click)="registroLectore(cliente, 2)">
                                <p>{{cliente.id+" - "+cliente.nombre}}</p>
                                <p class="estus-lectores">{{"L "+cliente.lectores_linea_marcaje+" | LM "+cliente.lectores_linea+" | FLM "+cliente.lectores_fuera_linea_marcaje+" | FL "+cliente.lectores_fuera_linea+" | T "+cliente.total_lectores}}</p>
                            </div>
                            <div class="lectores {{cliente.lectores.length <3 ? 'lectores-dos' : ''}}">
                                <div *ngFor="let lector of cliente.lectores" style="margin-bottom: 10px">
                                    <div class="lector" (click)="registroLectore(lector)">
                                        <fa-icon [icon]='["fas", "pager"]'
                                            class="lector_icono {{lector.estatus == 1 ? 'lector_conectado' : 'lector_no_activo'}}">
                                        </fa-icon>
                                        <fa-icon *ngIf="(lector.estatus == 1 && lector.marcajes_hoy == 0) || lector.estatus == 0 && lector.marcajes_hoy > 0" [icon]='["fas", "circle"]'
                                            class="bellLector">
                                        </fa-icon>
                                        <div class="datos_lector">
                                            <div>
                                                {{lector.no_serie}}
                                            </div>
                                            <div class="nombre">
                                                {{lector.nombre}}
                                            </div>
                                            <div style="width: 50%;">
                                                {{lector.ultima_conexion}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="producto" *ngIf="clientesMAmostrar.length > 0">
                <h5>Mi Asistencia</h5>
                <div class="clientes row">
                    <div *ngFor="let cliente of clientesMAmostrar; let indice = index"
                        class="{{cliente.lectores.length<2 ? 'col-sm-2': cliente.lectores.length<3? 'cliente-dos': 'col-md-auto'}}">
                        <div class="cliente">
                            <div class="nombre_cliente">
                                <p>{{cliente.id+" - "+cliente.nombre}}</p>
                            </div>
                            <div class="lectores" *ngIf="cliente.lectores.length > 0 ">
                                <p-carousel [value]="cliente.lectores" [numVisible]="numMostrar"
                                    [numScroll]="numRecorrer" [autoplayInterval]="tiempo" [circular]="true">
                                    <ng-template let-lector pTemplate="item">
                                        <div class="lector">
                                            <fa-icon [icon]='["fas", "pager"]'
                                                class="lector_icono {{lector.estatus == 1 ? 'lector_conectado' : 'lector_no_activo'}}">
                                            </fa-icon>
                                            <div *ngIf="(lector.estatus == 1 && lector.marcajes_hoy == 0) || lector.estatus == 0 && lector.marcajes_hoy > 0" class="alerta-lectores">
                                                <fa-icon [icon]='["fas", "bell"]'
                                                    class="{{lector.estatus == 1 ? 'lector_conectado' : 'lector_no_activo'}}">
                                                </fa-icon>
                                            </div>
                                            <div class="datos_lector">
                                                <div>
                                                    {{lector.no_serie}}
                                                </div>
                                                <div class="nombre">
                                                    {{lector.nombre}}
                                                </div>
                                                <div style="width: 50%;">
                                                    {{lector.ultima_conexion}}
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-carousel>
                            </div>
                            <div class="lector-error row" *ngIf="cliente.lectores.length == 0">
                                <div class="col">
                                    <p>No hay lectores para este cliente</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="producto" *ngIf="clientesCCmostrar.length > 0">
                <h5>CloudClock</h5>
                <div class="clientes row">
                    <div *ngFor="let cliente of clientesCCmostrar; let indice = index"
                        class="{{cliente.lectores.length<2 ? 'col-sm-2': cliente.lectores.length<3? 'cliente-dos': 'col-md-auto'}}">
                        <div class="cliente">
                            <div class="nombre_cliente">
                                <p>{{cliente.id+" - "+cliente.nombre}}</p>
                            </div>
                            <div class="lectores" *ngIf="cliente.lectores.length > 0 ">
                                <p-carousel [value]="cliente.lectores" [numVisible]="numMostrar"
                                    [numScroll]="numRecorrer" [autoplayInterval]="tiempo" [circular]="true">
                                    <ng-template let-lector pTemplate="item">
                                        <div class="lector">
                                            <fa-icon [icon]='["fas", "pager"]'
                                                class="lector_icono {{lector.estatus == 1 ? 'lector_conectado' : 'lector_no_activo'}}">
                                            </fa-icon>
                                            <div *ngIf="(lector.estatus == 1 && lector.marcajes_hoy == 0) || lector.estatus == 0 && lector.marcajes_hoy > 0" class="alerta-lectores">
                                                <fa-icon [icon]='["fas", "bell"]'
                                                    class="{{lector.estatus == 1 ? 'lector_conectado' : 'lector_no_activo'}}">
                                                </fa-icon>
                                            </div>
                                            <div class="datos_lector">
                                                <div>
                                                    {{lector.no_serie}}
                                                </div>
                                                <div class="nombre">
                                                    {{lector.nombre}}
                                                </div>
                                                <div style="width: 50%;">
                                                    {{lector.ultima_conexion}}
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-carousel>
                            </div>
                            <div class="lector-error row" *ngIf="cliente.lectores.length == 0">
                                <div class="col">
                                    <p>No hay lectores para este cliente</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="producto" *ngIf="clientesZKmostrar.length > 0">
                <h5>ZKCheckTime</h5>
                <div class="clientes row">
                    <div *ngFor="let cliente of clientesZKmostrar; let indice = index"
                        class="{{cliente.lectores.length<2 ? 'col-sm-2': cliente.lectores.length<3? 'cliente-dos': 'col-md-auto'}}">
                        <div class="cliente">
                            <div class="nombre_cliente">
                                <p>{{cliente.id+" - "+cliente.nombre}}</p>
                            </div>
                            <div class="lectores" *ngIf="cliente.lectores.length > 0 ">
                                <p-carousel [value]="cliente.lectores" [numVisible]="numMostrar"
                                    [numScroll]="numRecorrer" [autoplayInterval]="tiempo" [circular]="true">
                                    <ng-template let-lector pTemplate="item">
                                        <div class="lector">
                                            <fa-icon [icon]='["fas", "pager"]'
                                                class="lector_icono {{lector.estatus == 1 ? 'lector_conectado' : 'lector_no_activo'}}">
                                            </fa-icon>
                                            <div *ngIf="(lector.estatus == 1 && lector.marcajes_hoy == 0) || lector.estatus == 0 && lector.marcajes_hoy > 0" class="alerta-lectores">
                                                <fa-icon [icon]='["fas", "bell"]'
                                                    class="{{lector.estatus == 1 ? 'lector_conectado' : 'lector_no_activo'}}">
                                                </fa-icon>
                                            </div>
                                            <div class="datos_lector">
                                                <div>
                                                    {{lector.no_serie}}
                                                </div>
                                                <div class="nombre">
                                                    {{lector.nombre}}
                                                </div>
                                                <div style="width: 50%;">
                                                    {{lector.ultima_conexion}}
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-carousel>
                            </div>
                            <div class="lector-error row" *ngIf="cliente.lectores.length == 0">
                                <div class="col">
                                    <p>No hay lectores para este cliente</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="monitor-container" class="{{scrollController == false ? 'monitor-container-off' : ''}}">
            <a (click)="scrollStop()" class="button-monitor">Monitor</a>
        </div>

        <p-dialog header="{{onOffBitacoraGeneral == false ? 'Bitácora del lector - '+infoLector['nombre']+' '+infoLector['no_serie'] : 'Bitácora general del cliente '+idBitacoraGeneral+' - '+nombreBitacoraGeneral }}" [(visible)]="seguimientoRegistro" [modal]="true" [style]="{width: '90%', minWidth: '72%'}" [contentStyle]="{'max-height': '100%','min-height':'80vh'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
            <div class="p-d-flex p-jc-between">
                <div>
                    <h3>Visualizar y/o editar seguimiento:</h3>
                </div>
                <div style="float: left;" style="padding-right: 1rem;">
                    <button style="margin-left: 5px" pButton [disabled]="false" type="button"
                        icon="pi pi-times" class="p-button-sm p-button-danger"
                        label="Cerrar" (click)="closeRegistroLectore()"></button>
                    <button style="margin-left: 5px" pButton type="button"
                        [disabled]="actualizaButton" icon="pi pi-check"
                        class="p-button-success p-button-sm pull-right"
                        label="Actualizar" (click)="toUpdateServers()"></button>
                    <button style="margin-left: 5px" pButton type="button"
                        [disabled]="false" icon="pi pi-pencil"
                        class="p-button-sm pull-right"
                        label="Nuevo" (click)="actualizaLectore()"></button>
                    <button style="margin-left: 5px" pButton type="button" [disabled]="bitacoraLector?.length == 0" icon="pi pi-download" class="p-button-sm pull-right" label="Exportar" (click)="generaExcelBitacora(bitacoraLector, infoLector['nombre'], infoLector['no_serie'])"></button>
                </div>
            </div>
            <div style="margin-top: 1.5rem;">
                <div class="tabla-principal">
                    <form [formGroup]="bitacoraForm" *ngIf="onOffBitacoraGeneral == false">
                        <p-table [columns]="columsBitacora" [rows]="10" [paginator]="true"
                        [value]="bitacoraLector" [resizableColumns]="true" scrollHeight="500px"
                        [rowsPerPageOptions]="[10,20,30,50,100]" styleClass="p-datatable-sm">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field" class="{{col.field == 'estatus' ? 'widthTableE' : col.field == 'problema' || col.field == 'observacion' || col.field == 'comentario_cliente' ? 'widthTableP' : col.field == 'created_at' ? 'widthTableC' : col.field == 'registro' ? 'widthTableR' : '' }}">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-bitacoraLector let-columns="columns" let-i="rowIndex">
                                <tr [pSelectableRow]="bitacoraLector" [pSelectableRowIndex]="i">
                                    <td pEditableColumn *ngFor="let col of columns">
                                        <p-cellEditor *ngIf="col.field == 'estatus'">
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="estatusReporte" formControlName="estatus" [(ngModel)]="bitacoraLector.estatus" (onChange)="actualizaCampo('estatus', bitacoraLector.id, bitacoraLector[col.field],bitacoraLector); validaUpdateArray(2);" class="dropdownEstatus">
                                                </p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{bitacoraLector.estatus == 'atendido' ? 'Atendido' : 'Pendiente'}}
                                            </ng-template>
                                        </p-cellEditor>
                                        <p-cellEditor *ngIf="col.field == 'problema'">
                                            <ng-template pTemplate="input">
                                                <textarea [(ngModel)]="bitacoraLector.problema" formControlName="problema" #problema class="textarea-form" (keyup)="actualizaCampo(col.field, bitacoraLector.id, bitacoraLector.problema, bitacoraLector)">
                                                </textarea>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{bitacoraLector.problema}}
                                            </ng-template>
                                        </p-cellEditor>
                                        <p-cellEditor *ngIf="col.field == 'observacion'">
                                            <ng-template pTemplate="input">
                                                <textarea [(ngModel)]="bitacoraLector.observacion" formControlName="observacion" #observacion class="textarea-form" (keyup)="actualizaCampo(col.field, bitacoraLector.id, bitacoraLector.observacion, bitacoraLector)">
                                                </textarea>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{bitacoraLector.observacion}}
                                            </ng-template>
                                        </p-cellEditor>
                                        <p-cellEditor *ngIf="col.field == 'comentario_cliente'">
                                            <ng-template pTemplate="input">
                                                <textarea [(ngModel)]="bitacoraLector.comentario_cliente" formControlName="comentario_cliente" #comentario_cliente class="textarea-form" (keyup)="actualizaCampo(col.field, bitacoraLector.id, bitacoraLector.comentario_cliente, bitacoraLector)">
                                                </textarea>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{bitacoraLector.comentario_cliente}}
                                            </ng-template>
                                        </p-cellEditor>
                                        <tr *ngIf="col.field == 'created_at'" [disabled]="true">
                                            {{bitacoraLector.created_at}}
                                        </tr>
                                        <tr *ngIf="col.field == 'registro'" [disabled]="true">
                                            {{bitacoraLector.registro_nombre}}
                                        </tr>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr *ngIf="bitacoraLector?.length == 0">
                                    <td style="text-align: center" colspan="6">No hay datos disponibles</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </form>

                    <form [formGroup]="bitacoraForm" *ngIf="onOffBitacoraGeneral == true">
                        <p-table [columns]="columsBitacora" [rows]="10" [paginator]="true"
                        [value]="bitacoraLector" [resizableColumns]="true" scrollHeight="500px"
                        [rowsPerPageOptions]="[10,20,30,50,100]" styleClass="p-datatable-sm">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field" class="{{col.field == 'estatus' ? 'widthTableE' : col.field == 'problema' || col.field == 'observacion' || col.field == 'comentario_cliente' ? 'widthTableP' : col.field == 'created_at' ? 'widthTableC' : col.field == 'registro' ? 'widthTableR' : '' }}">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-bitacoraLector let-columns="columns" let-i="rowIndex">
                                <tr [pSelectableRow]="bitacoraLector" [pSelectableRowIndex]="i">
                                    <td pEditableColumn *ngFor="let col of columns">
                                        <p-cellEditor *ngIf="col.field == 'estatus'">
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="estatusReporte" formControlName="estatus" [(ngModel)]="bitacoraLector.estatus" (onChange)="actualizaCampo('estatus', bitacoraLector.id, bitacoraLector[col.field],bitacoraLector); validaUpdateArray(2);" class="dropdownEstatus">
                                                </p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{bitacoraLector.estatus == 'atendido' ? 'Atendido' : 'Pendiente'}}
                                            </ng-template>
                                        </p-cellEditor>
                                        <p-cellEditor *ngIf="col.field == 'problema'">
                                            <ng-template pTemplate="input">
                                                <textarea [(ngModel)]="bitacoraLector.problema" formControlName="problema" #problema class="textarea-form" (keyup)="actualizaCampo(col.field, bitacoraLector.id, bitacoraLector.problema, bitacoraLector)">
                                                </textarea>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{bitacoraLector.problema}}
                                            </ng-template>
                                        </p-cellEditor>
                                        <p-cellEditor *ngIf="col.field == 'observacion'">
                                            <ng-template pTemplate="input">
                                                <textarea [(ngModel)]="bitacoraLector.observacion" formControlName="observacion" #observacion class="textarea-form" (keyup)="actualizaCampo(col.field, bitacoraLector.id, bitacoraLector.observacion, bitacoraLector)">
                                                </textarea>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{bitacoraLector.observacion}}
                                            </ng-template>
                                        </p-cellEditor>
                                        <p-cellEditor *ngIf="col.field == 'comentario_cliente'">
                                            <ng-template pTemplate="input">
                                                <textarea [(ngModel)]="bitacoraLector.comentario_cliente" formControlName="comentario_cliente" #comentario_cliente class="textarea-form" (keyup)="actualizaCampo(col.field, bitacoraLector.id, bitacoraLector.comentario_cliente, bitacoraLector)">
                                                </textarea>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{bitacoraLector.comentario_cliente}}
                                            </ng-template>
                                        </p-cellEditor>
                                        <tr *ngIf="col.field == 'created_at'" [disabled]="true">
                                            {{bitacoraLector.created_at}}
                                        </tr>
                                        <tr *ngIf="col.field == 'registro'" [disabled]="true">
                                            {{bitacoraLector.registro_nombre}}
                                        </tr>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr *ngIf="bitacoraLector?.length == 0">
                                    <td style="text-align: center" colspan="6">No hay datos disponibles</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </form>
                </div>
            </div>
        </p-dialog>

        <p-dialog header="{{onOffBitacoraGeneral == false ? 'Registro nuevo en bitácora del lector '+infoLector['nombre']+' '+infoLector['no_serie'] : 'Registro nuevo en bitácora del cliente'+bitacoraLector['id']+' - '+bitacoraLector['nombre'] }}" [(visible)]="seguimientoBitacora" [modal]="true" [style]="{width: '70%', minWidth: '50%'}" [contentStyle]="{'max-height': '100%','min-height':'60vh'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
            <div style="margin-top: 1.5rem;">
                <form role="form" #myForm="ngForm" class="p-d-flex p-flex-column">
                    <div class="p-d-flex p-jc-between">
                        <div>
                            <h3>Agregar seguimiento del lector:</h3>
                        </div>
                        <div style="float: left;" style="padding-right: 1rem;">
                            <button style="margin-left: 5px" pButton [disabled]="false" type="button"
                                icon="pi pi-times" class="p-button-sm p-button-danger"
                                label="Cerrar" (click)="closeAgregarRegistroBitacora(onOffBitacoraGeneral == false ? infoLector : bitacoraLector )"></button>
                            <button style="margin-left: 5px" pButton type="button"
                                [disabled]="bitacoranewLector.problema === undefined || bitacoranewLector.observacion === undefined ? true : false" icon="pi pi-check"
                                class="p-button-success p-button-sm pull-right"
                                label="Guardar" (click)="agregarRegistroBitacora(bitacoranewLector, infoLector)"></button>
                        </div>
                    </div><br>
                    <div class="p-formgroup-inline">
                        <div class="p-fluid form-group inline-textatea">
                            <span class="p-float-label">
                                <textarea name="problema" pInputText cols="30" rows="5" class="textarea-form" [(ngModel)]="bitacoranewLector.problema"></textarea>
                                <label for="problema">Problema</label>
                            </span>
                        </div>
                        <div class="p-fluid form-group inline-textatea">
                            <span class="p-float-label">
                                <textarea name="observacion" pInputText cols="30" rows="5" class="textarea-form" [(ngModel)]="bitacoranewLector.observacion"></textarea>
                                <label for="observacion">Observación</label>
                            </span>
                        </div>
                        <div class="p-fluid form-group inline-textatea">
                            <span class="p-float-label">
                                <textarea name="comentario" pInputText cols="30" rows="5" class="textarea-form" [(ngModel)]="bitacoranewLector.comentario_cliente"></textarea>
                                <label for="comentario">Comentario del cliente</label>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </p-dialog>

        <app-loading *ngIf="cargando"></app-loading>
    </sb-layout-dashboard>
</div>
